@model IEnumerable<TecWeb.ControlAsistencia.Curso>

<table class="table table-bordered table-striped ">
    <tr>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Seccion)
        </th>
        <th style="text-align:center">
            Ver
        </th>   
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center;vertical-align:middle">
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td style="text-align:center;vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td style="text-align:center;vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Seccion)
            </td>
            <td style="text-align:center;vertical-align:middle">
                <a class="btn btn-primary" href='@Url.Action("Detalles", "Curso", new { id = item.ID })'>Detalles</a>
            </td>
        </tr>
    }

</table>